/* 1. Colors, cursor, sizing (px, em, rem, max-width, min- height), borders, background-image
2. Box-sizing, inline-blocks, list-style
3. Border-radius, box-shadow, text-shadow
4. :hover, :focus, :active
5. :nth-child */

html {
    /* cursor: url(..//asset/images/Cursor_Cellphone.png); */
    cursor: url(../asset/images/Cursor_Cellphone.png), auto;
}

body {
    background-color: lightpink;
    background-image: url(../asset/images/pexels-photo-2942855.jpeg);
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    cursor: url("Cursor_Cellphone.png"), auto;
}

table {
    margin: 0 auto
}

.board td:hover {
    background-color: lightsalmon;
    /* cursor: url('/images/droplet.svg'); */
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    background-color: thistle;
}

.flag {
    width: 20px;
    height: 20px;
}

.hidden span {
    display: none
}

.difficulty button {
    color: white;
    background-color: thistle;
    border-radius: 50px;
    box-sizing: content-box;
    margin: 0 auto;
    text-decoration-color: turquoise;
}

.modal button {
    float: middle;
    color: pink;
    background-color: white;
    /* font-style: italic; */
    font-weight: bolder;
    font-size: larger;
    border-radius: 100px;
    /* padding: 15px; */
    margin: 0 auto;
}

.victory-modal button {
    float: middle;
    color: pink;
    background-color: white;
    font-weight: bolder;
    font-size: larger;
    border-radius: 100px;
    padding: 15px;
    margin: 0 auto;
}

.formLine {
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
}

.time-modal {
    /* float: middle;
    color: pink;
    background-color: white;
    /* font-style: italic; */
    /* font-weight: bolder; */
    /* font-size: larger; */
    /* border-radius: 50px; */
    /* padding: 15px; */
    display: 'hidden';
    float: middle;
    color: white;
    /* background-color: white; */
    font-style: italic;
    font-weight: bolder;
    border-radius: 10px;
    padding: 15px;
}