.dropdown-item {
    background-color:  rgb(255, 148, 164);;
    color: white;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-menu {
    background-color: rgb(255, 176, 188); 
    /* /* color: white; */
}


 a.nav-link {
    color: white; 
   /* background-color:  rgb(255, 176, 188); */
 } 

 a.nav-link:hover{ 
    /* background-color: pink; */
    color: white; 
    /* background-color:  rgb(255, 176, 188);; */
}


.navbar-light .navbar-nav .nav-link { 
    color: black;
    /* /* color: white; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* /* font-weight: bold; */
}


.navbar-light .navbar-nav .nav-link :hover {
    color: rgb(255, 152, 169);
}


 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: white; 
    color: rgb(255, 152, 169); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

 body{
    /* background-image: url(../img/photo3.jpg);  */
    font-weight: bold;
} 

.jumbotron{
/* margin-top: 10%; */
background-color: transparent;
font-weight: bold;
margin-bottom: unset;
/* color: white; */
} 

.btn-primary{
    background-color: pink;
}

.btn-primary:hover{
    background-color: blanchedalmond;
}

.carousel-item img,
.carousel-item.active img {
    filter: brightness(0.8);
    min-height: 250px;
    max-height: 430px;
}

.carousel-inner {
    min-height: 250px;
    max-height: 430px;
    justify-content: center;
    align-content: center;
}